{% extends "_includes/layout.njk" %}
{% set title = "GOV.UK Frontend colour contrast checker" %}

{% block main %}
<h1>GOV.UK Frontend colour contrast checker</h1>
<ul>
  <li><a href="{{ '/apca/' | url }}">APCA contrast ratio scores</a></li>
  <li><a href="{{ '/wcag/' | url }}">WCAG contrast ratio scores</a></li>
</ul>
{% endblock %}